ul li {
    display: inline;
    list-style-type: none;
}

.blurb {
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, .5);
    float: right;
}

.bg-dark {
    background-color: #333333!important;
}

.navbar-brand {
    padding: 0;
}

/*.btn-outline-warning {*/

/*    margin-right: px;*/

/*}*/

.btn,
btn-warning {
    float: right;
    margin-left:5px;
    margin-bottom: -20px;
}

table {
    margin: 0;
    font-size: .75em;
     border: 2px solid #E0E0E0;
}

#data {
    margin-top: 0px;
}

#dataviz {
    margin-top: 20px;
    margin: 50px;
}

#dataviz2 {
    margin-top:-200px;
      margin-left: 100px;
      padding:70px;
}
  
