ul li {
    display: inline;
    list-style-type: none;
}

.blurb {
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, .5);
    float: right;
}

.bg-dark {
    background-color: #333333!important;
}

.navbar-brand {
    padding: 0;
}

.btn-outline-warning {
    margin-right: 8px;
}
